.hover-ui-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 160px;
    min-height: 160px;
    background-color: white;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: .5em;
}

.hover-ui-list {
    margin: 0;
    list-style: none;
    padding: .5em;
}

.hover-ui-color-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 3px;
}

.hover-ui-value-records > li {
    display: flex;
    flex-direction: row;
    margin-block: 0.5em;
}

.hover-ui-value-records > li > * {
    flex: 1;
    padding-inline: 0.5em;
}

.hover-ui-chunk-highlight {
    pointer-events: none;
    position: absolute;
    border: 1px solid #ff0000;
}